# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Build directories
dist
dist-ssr

# Local environment files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Back-end specific
back-end/node_modules
back-end/dist
back-end/.env

# Front-end specific
front-end/node_modules
front-end/dist
front-end/public